.display{
    grid-column: span 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.1em;
    padding: 20px;
    overflow: hidden;
    background-color: #0004;
}